/* ==========================================================================
	Prezzideo styles
	https://github.com/frenski/prezzideo
   ========================================================================== 
*/

.prezzideo {
	position: relative;
	padding-bottom: 48%;
	margin-top:10%;
}

.prezzideo-slides {
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	overflow: hidden;
	z-index: 0;
}

.prezzideo-slides .prezzideo-slides-item {
	position: absolute;
	z-index: 0;
}

.prezzideo-slide-vertical {
	width: 100%;
	top: 50%;
}

.prezzideo-slide-horizontal {
	height: 100%;
	left: 50%;
}

.prezzideo-video {
	width: 100%;
    position: absolute;
    padding-bottom: 48%;
    padding-top: 20px; 
	height: 0; 
	overflow: hidden;
	z-index: 0;
}

.prezzideo-video-shrinked {
	width: 25%;
	padding-bottom: 12%;
	z-index: 1;
}

.prezzideo-slides-shrinked {
	width: 25%;
	height: 25%;
	z-index: 1;
}

.prezzideo-swap-screen-button {
	position: absolute;
	width: 25%;
	height: 33%;

	/* width: 25%;
	height: 33%; */
	z-index: 2;
	cursor: pointer;
}

.prezzideo-screen-position-top-left { top: 0; left: 0; }
.prezzideo-screen-position-top-right { top: 0; right: 0; }
.prezzideo-screen-position-bottom-left { bottom: 0; left: 0; }
.prezzideo-screen-position-bottom-right { bottom: 0; right: 0; }

.prezzideo-video iframe,
.prezzideo-video object,
.prezzideo-video embed,
.prezzideo-video .prezzideo-video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.prezzideo-control-bar {
	position: absolute;
	width: 100%;
	height: 40px;
	bottom: -40px;
	background: black;
}

.prezzideo-control-bar:after {
    clear: both;
}

.prezzideo-control-slider {
	width: 6px;
	height: 6px;
	background: #3c535d;
	border: 5px solid #fff;
	border-radius: 100%;
	box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
	left: 0;
	top: -7px;
	position: absolute;
	z-index: 1;
	cursor: pointer;
}

.prezzideo-control-timeline {
	/* margin-left: 10px; */
	/* margin-right: 10px; */
	height: 5px;
	background: #ccc;
	cursor: pointer;
}

.prezzideo-control-fullscreen,
.prezzideo-control-playpause,
.prezzideo-control-stop {
	width: 32px;
	height: 32px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.prezzideo-control-playpause {
	float: left;
	margin-left: 5px;
}

.prezzideo-control-stop {
	float: left;
	margin-left: 5px;
	background-image: url('img/prezzideo-control-stop.png');
	background-size: 100% 100%;
}

.prezzideo-control-fullscreen {
	float: right;
	margin-right: 5px;
	background-image: url('img/prezzideo-control-full.png');
	background-size: 100% 100%;
	z-index: 1000;
}

.prezzideo-control-play {
	background-image: url('img/prezzideo-control-play.png');
	background-size: 100% 100%;
}

.prezzideo-control-pause {
	background-image: url('img/prezzideo-control-pause.png');
	background-size: 100% 100%;
}

.prezzideo-display-time {
	position: absolute;
	width: 90px;
	top: 10px;
	left: 50%;
	margin-left: -45px;
	font-size: 0.8em;
	color: #ddd;
	text-align: center;
}

.prezzideo-control-fullscreen:hover,
.prezzideo-control-playpause:hover,
.prezzideo-control-stop:hover {
	opacity: 0.7;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.time-stamp{
	position:relative;
	display:inline-block;
	margin-bottom:20px;
	/* margin-top:-5px; */
	background:red;
	height:5px;
	width:5px;
	z-index: ;
	/* pointer-events: none; */
}














/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 5px dotted black; 
}

/* Tooltip text */
.tooltip .tooltip-content {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
}

/* .prezzideo-control-bar:hover .tooltip-content {
  visibility: visible;
} */



.tooltip .tooltip-content {
	width: 120px;
	bottom: 25px;
	left: 50%;
	margin-left: -60px; 
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10+ and Edge */
	user-select: none; /* Standard syntax */
  }
